#root {
  max-width: 1280px;
  margin: 0 auto;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  gap:20px;
}
.navbar nav { 
  flex: 1 0
}
.menu {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  flex: 1 0;
  justify-content: center;
}

.brand {
  display:flex;
flex-direction:row;
align-items: center;
justify-content: center; gap: 10 px

}

.title {margin: 0px;  -webkit-text-stroke: 2px #0075BE; color: #FFCC00;}
.cart-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  display: none;
}

.shopping-cart { display:flex}
.cartnumber { width:25px; height:25px; background-color:black; display: flex; align-items: center; justify-content: center; border-radius:20px}
.cartnumber p{ margin: 0; font-size:12px}


h1.title {
  font-size: 30px;
}

ul.category-navigation {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}